body{
  background-color: rgb(224, 224, 224);
}
.Persons{
  margin: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.usercard{
  height: 8rem;
  background-color: white;
  width: 16rem;
  padding: 1rem;
  margin: 1rem;
  
  box-shadow: 1px 2px 6px 4px #cacaca;
}
.email{
  color: red;
}
.active,.usercard:hover{
  background-color: rgb(167, 87, 242);
  
  color: white;
  
}
.card{
  box-shadow: 2px 2px 23px 18px #cacaca;
}
.number{
  color: blueviolet;
}